*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  box-sizing: border-box;
  scroll-behavior: smooth; }
  @media only screen and (max-width: 28.125em) {
    html {
      font-size: 40%; } }

body {
  background-color: #eaeae7;
  font-family: "Montserrat", sans-serif;
  font-weight: 200;
  line-height: 1.7;
  font-size: 1.2rem; }

.container {
  display: grid;
  grid-template-rows: 100vh repeat(4, min-content);
  grid-template-columns: [ml-start] 15% [ml-end center-start] repeat(3, [col-start] 1fr [col-end]) [center-end mr-start] 15% [mr-end];
  grid-row-gap: 10rem; }

.btn:link, .btn:visited {
  text-decoration: none;
  padding: 0.5rem 3rem;
  letter-spacing: 2px;
  font-weight: 300;
  cursor: pointer;
  transition: all 0.2s; }

.btn--light {
  border: 1px solid #fff;
  color: #fff; }

.btn--dark {
  border: 1px solid #4a4f55;
  color: #4a4f55; }

.btn:focus {
  outline: none; }

.btn:hover {
  transform: translateY(-2px); }

.heading--1 {
  font-family: "Cormorant Garamond", serif;
  font-size: 3rem;
  line-height: 1.2;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 2px; }

.heading--2 {
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
  font-weight: 300;
  text-transform: uppercase;
  font-size: 2rem;
  letter-spacing: 2px; }

.heading--3 {
  font-family: "Montserrat", sans-serif;
  font-size: 1.2rem;
  font-weight: 300;
  text-transform: uppercase;
  font-size: 1.5rem;
  letter-spacing: 2px; }

.nav {
  background-color: #eaeae7;
  position: fixed;
  width: 100%;
  height: 8rem;
  border-bottom: 1px solid #9aa5ae;
  z-index: 1000; }
  .nav__items {
    height: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
    padding-right: 8rem;
    list-style: none; }
    @media only screen and (max-width: 56.25em) {
      .nav__items {
        justify-content: center;
        padding-right: 0; } }
  .nav__item a {
    color: #4a4f55;
    transition: all 0.2s; }
    .nav__item a:link, .nav__item a:active {
      text-transform: uppercase;
      text-decoration: none;
      font-weight: 500;
      letter-spacing: 2px;
      margin-left: 4rem;
      cursor: pointer; }
    .nav__item a:hover {
      color: #11171a; }

.header {
  grid-column: ml-start / mr-end;
  display: grid;
  grid-template-columns: calc(100% / 3) 1fr; }
  @media only screen and (max-width: 56.25em) {
    .header {
      grid-template-columns: 1fr; } }
  .header__left {
    background-color: #ccc2bb;
    display: grid;
    grid-template-columns: 15% 1fr 15%;
    grid-template-rows: 8rem 1fr repeat(4, min-content) 1fr;
    grid-row-gap: 1.5rem; }
    @media only screen and (max-width: 56.25em) {
      .header__left {
        justify-content: center;
        text-align: center; } }
  .header__title {
    grid-column: 2/3;
    grid-row: 3/4; }
    .header__title span {
      font-weight: 600; }
  .header__text {
    grid-column: 2/3;
    grid-row: 4/5;
    font-size: 1.3rem;
    font-weight: 300; }
  .header__btn {
    grid-column: 2/3;
    grid-row: 5/6;
    margin-top: 2rem;
    justify-self: start; }
    @media only screen and (max-width: 56.25em) {
      .header__btn {
        justify-self: center; } }
  .header__link--dark {
    background-color: #4a4f55; }
  .header__link--light {
    background-color: #ccc2bb; }
  .header__link:link, .header__link:active {
    display: block;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    position: relative;
    transition: all 0.2s; }
  .header__link:hover {
    transform: translateY(-2px); }
  .header__icons {
    grid-column: 2/3;
    grid-row: 6/7;
    display: flex;
    column-gap: 1.5rem;
    margin-top: 2rem; }
    @media only screen and (max-width: 56.25em) {
      .header__icons {
        justify-content: center; } }
  .header__icon {
    width: 2rem;
    height: 2rem;
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
    .header__icon--light {
      fill: rgba(234, 234, 231, 0.95); }
    .header__icon--dark {
      fill: #4a4f55; }
  .header__right {
    background-image: linear-gradient(rgba(204, 194, 187, 0.2), rgba(74, 79, 85, 0.95)), url(../img/main.jpg);
    background-size: cover;
    background-position: center;
    display: grid;
    align-items: center;
    justify-content: center; }
  .header__img {
    width: 4.7rem;
    height: 4.7rem;
    fill: rgba(234, 234, 231, 0.95); }

.hero {
  grid-column: ml-start / mr-end;
  display: grid;
  grid-template-columns: calc(100% / 3) 1fr;
  grid-template-rows: 90vh; }
  @media only screen and (max-width: 56.25em) {
    .hero {
      grid-template-columns: 1fr;
      grid-template-rows: 50vh; } }
  .hero__right {
    background-color: #fefefe;
    display: grid;
    grid-template-columns: 20% 1fr 20%;
    grid-template-rows: 1fr repeat(2, min-content) 1fr;
    grid-row-gap: 3rem; }
    @media only screen and (max-width: 68.75em) {
      .hero__right {
        grid-template-columns: 10% 1fr 10%;
        padding: 4rem 0; } }
  .hero__left {
    background-color: #9aa5ae;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center; }
  .hero__img {
    width: 50%; }
    @media only screen and (max-width: 56.25em) {
      .hero__img {
        width: 30%; } }
  .hero__title {
    grid-row: 2/3;
    grid-column: 2/3;
    justify-self: center; }
  .hero__text {
    grid-row: 3/4;
    grid-column: 2/3;
    line-height: 2;
    font-weight: 300;
    column-count: 2;
    column-gap: 2rem;
    hyphens: auto; }

.projects {
  grid-column: center-start / center-end;
  display: grid;
  grid-gap: 7rem; }
  @media only screen and (max-width: 40em) {
    .projects {
      grid-column: ml-start / mr-end; } }
  .projects__title {
    grid-column: 1/ -1;
    justify-self: center;
    align-self: center; }
  .projects__projects {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    grid-gap: 3.5rem; }
    @media only screen and (max-width: 40em) {
      .projects__projects {
        grid-template-columns: 1fr; } }

.project {
  padding: 3.5rem;
  background-color: #4a4f55;
  color: #fff;
  display: grid;
  grid-template-rows: repeat(3, min-content) 4rem;
  grid-gap: 1.5rem;
  justify-items: center; }
  @media only screen and (max-width: 40em) {
    .project {
      padding: 6rem 15rem; } }
  .project__icon {
    height: 4.5rem;
    width: 4.5rem;
    filter: contrast(30%); }
  .project__title {
    text-align: center; }
  .project__description {
    text-align: center; }
  .project__btn {
    align-self: end; }

.skills {
  grid-column: center-start / center-end;
  height: 80vh;
  display: grid;
  grid-template-rows: min-content;
  grid-gap: 7rem; }
  @media only screen and (max-width: 68.75em) {
    .skills {
      grid-column: ml-start / mr-end; } }
  .skills__title {
    justify-self: center; }
  .skills__skills {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(8, minmax(min-content, 1fr));
    grid-gap: 0.5rem; }
    @media only screen and (max-width: 56.25em) {
      .skills__skills {
        grid-template-columns: repeat(5, minmax(min-content, 1fr)); } }
  .skills__skill {
    display: block; }
    .skills__skill--1 {
      grid-row: 1 / span 3;
      background-color: #ccc2bb;
      display: grid;
      align-items: center;
      justify-items: center;
      padding: 3rem;
      text-align: center;
      text-transform: uppercase;
      letter-spacing: 2px;
      font-weight: 400;
      color: #4a4f55; }
      @media only screen and (max-width: 93.75em) {
        .skills__skill--1 {
          padding: 1rem; } }
    .skills__skill--2 {
      grid-row: 1 / span 4;
      background-color: rgba(74, 79, 85, 0.8);
      display: grid;
      align-items: center;
      justify-items: center;
      padding: 3rem;
      text-align: center;
      text-transform: uppercase;
      letter-spacing: 2px;
      font-weight: 400;
      color: #fff; }
      @media only screen and (max-width: 93.75em) {
        .skills__skill--2 {
          padding: 1rem; } }
    .skills__skill--3 {
      grid-row: 1 / span 2;
      background-color: rgba(154, 165, 174, 0.5);
      display: grid;
      align-items: center;
      justify-items: center;
      padding: 3rem;
      text-align: center;
      text-transform: uppercase;
      letter-spacing: 2px;
      font-weight: 400;
      color: #4a4f55; }
      @media only screen and (max-width: 93.75em) {
        .skills__skill--3 {
          padding: 1rem; } }
    .skills__skill--4 {
      grid-row: 1/4;
      background-color: rgba(204, 194, 187, 0.3);
      display: grid;
      align-items: center;
      justify-items: center;
      padding: 3rem;
      text-align: center;
      text-transform: uppercase;
      letter-spacing: 2px;
      font-weight: 400;
      color: #4a4f55; }
      @media only screen and (max-width: 93.75em) {
        .skills__skill--4 {
          padding: 1rem; } }
    .skills__skill--5 {
      grid-row: 1 / span 4;
      background-color: #ccc2bb;
      display: grid;
      align-items: center;
      justify-items: center;
      padding: 3rem;
      text-align: center;
      text-transform: uppercase;
      letter-spacing: 2px;
      font-weight: 400;
      color: #4a4f55; }
      @media only screen and (max-width: 93.75em) {
        .skills__skill--5 {
          padding: 1rem; } }
    .skills__skill--6 {
      grid-row: 1 / span 2;
      background-color: rgba(74, 79, 85, 0.8);
      display: grid;
      align-items: center;
      justify-items: center;
      padding: 3rem;
      text-align: center;
      text-transform: uppercase;
      letter-spacing: 2px;
      font-weight: 400;
      color: #fff; }
      @media only screen and (max-width: 93.75em) {
        .skills__skill--6 {
          padding: 1rem; } }
      @media only screen and (max-width: 56.25em) {
        .skills__skill--6 {
          grid-row: 4 / span 2; } }
    .skills__skill--7 {
      grid-row: 1 / span 3;
      background-color: rgba(154, 165, 174, 0.5);
      display: grid;
      align-items: center;
      justify-items: center;
      padding: 3rem;
      text-align: center;
      text-transform: uppercase;
      letter-spacing: 2px;
      font-weight: 400;
      color: #4a4f55; }
      @media only screen and (max-width: 93.75em) {
        .skills__skill--7 {
          padding: 1rem; } }
      @media only screen and (max-width: 56.25em) {
        .skills__skill--7 {
          grid-row: 5 / span 3; } }
    .skills__skill--8 {
      grid-row: 1 / span 8;
      background-color: rgba(203, 204, 203, 0.5);
      display: grid;
      align-items: center;
      justify-items: center;
      padding: 3rem;
      text-align: center;
      text-transform: uppercase;
      letter-spacing: 2px;
      font-weight: 400;
      color: #4a4f55; }
      @media only screen and (max-width: 93.75em) {
        .skills__skill--8 {
          padding: 1rem; } }
      @media only screen and (max-width: 56.25em) {
        .skills__skill--8 {
          grid-row: 3 / span 3; } }
    .skills__skill--9 {
      grid-row: 4 / span 5;
      background-color: rgba(203, 204, 203, 0.3);
      display: grid;
      align-items: center;
      justify-items: center;
      padding: 3rem;
      text-align: center;
      text-transform: uppercase;
      letter-spacing: 2px;
      font-weight: 400;
      color: #4a4f55; }
      @media only screen and (max-width: 93.75em) {
        .skills__skill--9 {
          padding: 1rem; } }
      @media only screen and (max-width: 56.25em) {
        .skills__skill--9 {
          grid-row: 4 / span 3;
          grid-column: 4/5; } }
    .skills__skill--10 {
      grid-row: 5 / span 4;
      background-color: rgba(154, 165, 174, 0.5);
      display: grid;
      align-items: center;
      justify-items: center;
      padding: 3rem;
      text-align: center;
      text-transform: uppercase;
      letter-spacing: 2px;
      font-weight: 400;
      color: #4a4f55; }
      @media only screen and (max-width: 93.75em) {
        .skills__skill--10 {
          padding: 1rem; } }
      @media only screen and (max-width: 56.25em) {
        .skills__skill--10 {
          grid-row: 5 / span 3;
          grid-column: 5/6; } }
    .skills__skill--11 {
      grid-row: 3 / span 6;
      background-color: #ccc2bb;
      display: grid;
      align-items: center;
      justify-items: center;
      padding: 3rem;
      text-align: center;
      text-transform: uppercase;
      letter-spacing: 2px;
      font-weight: 400;
      color: #4a4f55; }
      @media only screen and (max-width: 93.75em) {
        .skills__skill--11 {
          padding: 1rem; } }
      @media only screen and (max-width: 56.25em) {
        .skills__skill--11 {
          grid-row: 6 / span 5;
          grid-column: 1/2; } }
    .skills__skill--12 {
      grid-row: 4 / span 5;
      background-color: rgba(74, 79, 85, 0.8);
      display: grid;
      align-items: center;
      justify-items: center;
      padding: 3rem;
      text-align: center;
      text-transform: uppercase;
      letter-spacing: 2px;
      font-weight: 400;
      color: #fff; }
      @media only screen and (max-width: 93.75em) {
        .skills__skill--12 {
          padding: 1rem; } }
      @media only screen and (max-width: 56.25em) {
        .skills__skill--12 {
          grid-row: 8 / span 3;
          grid-column: 2/3; } }
    .skills__skill--13 {
      grid-row: 5 / span 4;
      background-color: rgba(203, 204, 203, 0.5);
      display: grid;
      align-items: center;
      justify-items: center;
      padding: 3rem;
      text-align: center;
      text-transform: uppercase;
      letter-spacing: 2px;
      font-weight: 400;
      color: #4a4f55; }
      @media only screen and (max-width: 93.75em) {
        .skills__skill--13 {
          padding: 1rem; } }
      @media only screen and (max-width: 56.25em) {
        .skills__skill--13 {
          grid-row: 6 / span 5;
          grid-column: 3/4; } }
    .skills__skill--14 {
      grid-row: 3 / span 6;
      background-color: rgba(204, 194, 187, 0.3);
      display: grid;
      align-items: center;
      justify-items: center;
      padding: 3rem;
      text-align: center;
      text-transform: uppercase;
      letter-spacing: 2px;
      font-weight: 400;
      color: #4a4f55; }
      @media only screen and (max-width: 93.75em) {
        .skills__skill--14 {
          padding: 1rem; } }
      @media only screen and (max-width: 56.25em) {
        .skills__skill--14 {
          grid-row: 7 / span 4;
          grid-column: 4/5; } }
    .skills__skill--15 {
      grid-row: 4 / span 5;
      background-color: #ccc2bb;
      display: grid;
      align-items: center;
      justify-items: center;
      padding: 3rem;
      text-align: center;
      text-transform: uppercase;
      letter-spacing: 2px;
      font-weight: 400;
      color: #4a4f55; }
      @media only screen and (max-width: 93.75em) {
        .skills__skill--15 {
          padding: 1rem; } }
      @media only screen and (max-width: 56.25em) {
        .skills__skill--15 {
          grid-row: 8 / span 3;
          grid-column: 5/6; } }

.footer {
  background-color: #4a4f55;
  grid-column: ml-start / mr-end;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  grid-template-columns: 15% 1fr 1fr 1fr 15%;
  align-items: center;
  grid-row-gap: 2rem;
  color: #fff; }
  @media only screen and (max-width: 56.25em) {
    .footer {
      grid-template-rows: 1fr;
      grid-template-columns: 1fr;
      grid-row-gap: 0; } }
  .footer__left {
    grid-row: 2/3;
    grid-column: 2/3;
    justify-self: start;
    display: grid;
    grid-gap: 1rem;
    padding: 6rem 0; }
    @media only screen and (max-width: 56.25em) {
      .footer__left {
        grid-row: 1/2;
        grid-column: 1/2;
        justify-self: center;
        text-align: center;
        padding: 0;
        padding-top: 6rem; } }
  .footer__center {
    grid-row: 2/3;
    grid-column: 3/4;
    justify-self: center; }
    @media only screen and (max-width: 56.25em) {
      .footer__center {
        grid-row: 2/3;
        grid-column: 1/2;
        padding: 1rem 0; } }
  .footer__right {
    grid-row: 2/3;
    grid-column: 4/5;
    justify-self: end; }
    @media only screen and (max-width: 56.25em) {
      .footer__right {
        grid-row: 3/4;
        grid-column: 1/2;
        justify-self: center;
        text-align: center;
        padding-top: 2rem;
        padding-bottom: 6rem; } }

.popup {
  background-color: rgba(17, 23, 26, 0.95);
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s; }
  .popup:target {
    opacity: 100%;
    visibility: visible; }
  .popup__close:link, .popup__close:visited {
    text-decoration: none;
    font-size: 4rem;
    font-weight: 100;
    color: #4a4f55;
    position: absolute;
    top: 0.5rem;
    right: 2.5rem;
    transition: all 0.2s; }
  .popup__close:hover {
    color: #ccc2bb; }
  .popup__content {
    background-color: #fefefe;
    width: 70%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: grid;
    grid-template-columns: calc(100% / 3) 1fr;
    grid-template-rows: 80vh; }
    @media only screen and (max-width: 68.75em) {
      .popup__content {
        width: 100%; } }
    @media only screen and (max-width: 56.25em) {
      .popup__content {
        grid-template-rows: 100vh; } }
    @media only screen and (max-width: 56.25em) {
      .popup__content {
        grid-template-columns: 1fr;
        grid-template-rows: 70vh 30vh; } }
  .popup__left img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top; }
  @media only screen and (max-width: 56.25em) {
    .popup__left {
      grid-row: 2/3; } }
  .popup__right {
    padding: 6rem;
    display: grid;
    grid-template-rows: 1fr min-content 1fr; }
    @media only screen and (max-width: 40em) {
      .popup__right {
        padding: 3rem 6rem; } }
    .popup__right--container {
      grid-row: 2/3;
      display: grid;
      grid-gap: 1.5rem; }
  .popup__text {
    column-count: 2;
    column-gap: 2rem;
    column-rule: 1px solid #eaeae7;
    hyphens: auto;
    font-weight: 300; }
    @media only screen and (max-width: 40em) {
      .popup__text {
        font-size: 1rem; } }
  .popup__h3 {
    margin-top: 1rem; }
    @media only screen and (max-width: 40em) {
      .popup__h3 {
        margin-top: 0.5rem; } }
  .popup__tools {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem; }
  .popup__tool {
    font-size: 1rem;
    padding: 0.5rem 1rem;
    background-color: #eaeae7;
    font-weight: 300;
    letter-spacing: 2px; }
    @media only screen and (max-width: 40em) {
      .popup__tool {
        font-size: 0.8rem; } }
  .popup__btns {
    display: flex;
    align-items: end;
    column-gap: 2rem;
    margin-top: 2rem; }
    @media only screen and (max-width: 40em) {
      .popup__btns {
        margin-top: 0.5rem; } }
  .popup__btn {
    font-weight: 300; }
    @media only screen and (max-width: 40em) {
      .popup__btn {
        font-size: 1rem; } }
